rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /activityList/{document} {
      allow create: if request.auth.uid == request.resource.data.userID;
      allow read: if request.auth != null;
      allow write: if request.auth.uid == resource.data.userID;
      allow delete: if request.auth.uid == resource.data.userID;
    }

    match /users/{document} {
      allow create: if request.auth.uid == document;
      allow read: if true;
      allow write: if request.auth.uid == resource.data.uid;
      allow delete: if request.auth.uid == resource.data.uid;
    }

    match /contactList/{document} {
      allow create: if request.auth.uid == request.resource.data.userId;
      allow read: if request.auth.uid == resource.data.userId;
      allow write: if request.auth.uid == resource.data.userId;
      allow delete: if request.auth.uid == resource.data.userId;
    }

    match /routeList/{document} {
      allow create: if request.auth.uid == request.resource.data.userId;
      allow read: if request.auth.uid == resource.data.userId;
      allow write: if request.auth.uid == resource.data.userId;
      allow delete: if request.auth.uid == resource.data.userId;
    }

    match /notifications/{document} {
      allow create: if request.resource.data.userID == /databases/$(database)/documents/users/$(request.auth.uid);
      allow read: if request.auth != null;
      allow write: if resource.data.userID == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if request.auth.uid in resource.data.contactList;
    }

    match /ff_user_push_notifications/{id} {
      allow read, update, delete: if false;
      allow create: if /databases/$(database)/documents/users/$(request.auth.uid) == request.resource.data.sender;
    }
  }
}
